// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.php-extract-method {
    .panel-footer {
        display: table;
        width: 100%;
    }
    .form-control, .control-label, .control-group, .controls {
        width: 100%;
    }

    .settings-view {
        display:block;
    }

    .preview-area-container {
        margin-top: 10px;
    }
}
